<ion-view view-title="Activities">
  <ion-content>
	<ion-list can-swipe="true">
	  <ion-item ng-repeat="item in activities" href="#/app/food/{{item.id}}">
	    <div class="circle">{{item.cal}}</div>
		<h2>{{item.date | date:'longDate'}}</h2>
		<p>Average calorie intake - <strong>{{item.cal}}</strong></p>
	    <ion-option-button class="button-assertive" ng-click="delete(item, $index);">
	      <i class="icon ion-trash-b swipe-trash"></i>
	    </ion-option-button>
	  </ion-item>
	</ion-list>
  </ion-content>
  <md-button class="md-primary md-fab md-fab-bottom-right" href="#/app/newfood">
    <i class="icon ion-plus"></i>
  </md-button>
</ion-view>