<ion-view view-title="Food Diary">
  <ion-content>
	<ion-list can-swipe="true">
	  <ion-item ng-repeat="item in food" href="#/app/food/{{$index}}">
	  	<div class="circle">{{item.date | date:'dd'}}</div>
		<h2 class="list-title">{{item.date | date:'longDate'}}</h2>
	    <ion-option-button class="button-assertive" ng-click="delete(item, $index);">
	      <i class="icon ion-trash-b swipe-trash"></i>
	    </ion-option-button>
	  </ion-item>
	</ion-list>
	<p ng-if="food.length<=0" style="text-align: center;">Nothing Found, Please Add!</p>
  </ion-content>
  <a href="#/app/newfood">
	<md-button class="md-primary md-fab md-fab-bottom-right" >
	<i class="icon ion-plus"></i>
	</md-button>
  </a>
</ion-view>