<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
    <button ng-click="datepicker()">Date</button>

    <div class="row">
	<div class="col">
		<div class="card">
		  <div class="item item-text-wrap">
		    02
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card">
		  <div class="item item-text-wrap">
		    02
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card">
		  <div class="item item-text-wrap">
		    02
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card">
		  <div class="item item-text-wrap">
		    02
		  </div>
		</div>
	</div>
</div>


  </ion-content>
</ion-view>
